body{
	font-family: Lato !important;
}
.navbar-inverse{
	background-color: black !important;
	border-color: white !important;
}

.align-center{
	text-align: center !important;
}
.align-center th{
	text-align: center !important;
}

.align-left{
	text-align: left !important;
}

.align-right{
	text-align: right !important;
}

.vertical-align-center{
	vertical-align: middle !important;
}

.background-color-black{
	background-color: black !important;
}
.color-black{
	color: black !important;
}
.color-white{
	color: white !important;
}
.border-radius-10px{
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	 border-radius: 10px !important;
}
.bcolor-grey{
	background-color: #494949 !important;
}

.bcolor-darkgrey{
	background-color: #282828 !important;
}

li{
 	background-color: #282828 !important;
}
li.active a{
	background-color: #494949 !important;
}


.padding-10px{
	padding: 10px !important;
}
.padding-top-5px{
	padding-top: 5px !important;
}

.padding-bottom-5px{
	padding-bottom: 5px !important;
}

.border-color-black{
	border-color: black !important;
}

.table-border{
	border: 2px solid #fff !important;
}
.table-r-border{
	border-right:2px solid #fff !important;
}

tbody tr:nth-child(even) {
	background: #e9e9e9;
	color: black;
}
tbody tr:nth-child(odd) {
	background: #b4b4b4;
	color: black;
}

.font-14px{
	font-size: 14px !important;
}

.font-10px{
	font-size: 10px !important;
}

.margin-left-5px{
	margin-left: 5px !important;
}

.margin-right-5px{
	margin-right: 5px !important;
}